* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
  background-color: #222222;
  color: #fffaeb;
  text-rendering: optimizeLegibility;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

/* ---------------------------- */
/* -----REUSABLE ELEMENTS------ */
/* ---------------------------- */

.row {
  max-width: 1140px;
  margin: 5px auto;
}


h1, h2 {
  font-weight: 400;
  line-height: 120%;
  text-align: center;
}

h1 {
  font-size: 400%;
  text-shadow: 3px 5px #000000;
}

h2 {
  padding: 20px auto;
  font-size: 200%;
  text-shadow: 2px 2px #000000;
}

h2:after {
  display: block;
  height: 2px;
  width: 100px;
  background-color: #b00;
  content: " ";
  margin: 25px auto;
}

a {
  text-decoration: none;
  color: #fffaeb;
}

section {
  padding: 100px;
}

/* ---buttons --- */

.btn {
  display: inline-block;
}

.btn-down {
  font-weight: 400;
  font-size: 140%;
  text-shadow: 2px 2px black;
  border-radius: 2px;
  border-bottom: 2px solid white;
  letter-spacing: 1.5px;
  margin-left: -25px;
}



.btn-down:hover {
  border-bottom: 4px solid #e74c3c;
  transition: border-bottom 0.1s;
}

.btn-full, 
.btn-ghost {
  border: 2px solid #b00;
  border-radius: 20px;
  padding: 5px 10px;
  color: black;
}

.btn-full {
  background-color: #b00;
  color: #fffaeb
}

.btn-full:hover,
.btn-ghost:hover {
  border: 2px solid #e74c3c;
  background-color: #e74c3c;
  color: #fffaeb
}

/* ---------------------------- */
/* -----NAVBAR - DROPDOWN------ */
/* ---------------------------- */



#not-a-logo {
  margin-top: 1%;
  border: 3px solid #ffffff;
  width: 20%;
  margin-left: 1%;
}

.top-nav {
  float: right;
  text-transform: uppercase;
  margin-top: 4%
}



.droptitle {
  display: inline-block;
  position: relative;
  margin: 10px;
  border-bottom: 2px solid transparent;
  z-index: 2;

}


.dropdown-content {
  position: absolute;
  visibility: hidden;
  list-style: none;
  opacity: 0;
  z-index: 2;
}

.droptitle:hover,
.droptitle:active {
  background-color: #222222;
  border-bottom: 2px solid #e74c3c;
  transition: border-bottom 0.2s
}

.droptitle:hover .dropdown-content {
  background-color: #222222;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
  border-top: 2px solid #e74c3c;
  border-radius: 5px;
}

.dropdown-content li {
  border-bottom: 2px solid #4e2323;
  padding: 2px 2px;
}

.dropdown-content li:hover{
  border-bottom: 2px solid #e74c3c;
  transition: border-bottom 0.2s;
}

.a-donate { border-bottom: 1px solid #e74c3c;;}


/* ---------------------------- */
/* -----HEADER - HERO TEXT------ */
/* ---------------------------- */

.urgent {
  position: fixed;
  font-size: 90%;
  letter-spacing: 0;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  background-color: #f1c40f;
  color: #000;
  border: 2px solid black;
  padding: 2px;
  font-weight: 400
}


header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.13)), url(img/graphic.png);
  background-size: cover;
  height: 100vh;
  position: relative;  
}

.bars-box {
  margin-left: 30%
}


.bars {
  height: 100vh;
  width: 10px;
  position: absolute;
  color: rgba(0, 0, 0, 0);
  border-right: 20px solid #222222;
  top: 0;
}


.hero-text-box {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  position: relative;
}


/* ---------------------------- */
/* -----WHAT WE DO --------- */
/* ---------------------------- */


.section-what-we-do {
  text-align: center;
}

.div-what-we-do {
  width: 80%;
  margin: 0 auto;
  line-height: 150%;
  font-size: 120%;
}

p span {
  font-size: 125%;
  font-weight: 700;
  color: #e74c3c
}



.div-leave-homepage {
  margin: 25px auto;
  padding: 5px 0;
  border-bottom: 2px solid transparent;
}

.programs-btn {
  text-decoration: underline;
}

.programs-btn:hover {
  color: #f1c40f;
}

/* ---------------------------- */
/* ----- OUR MISSION ---------- */
/* ---------------------------- */

.section-mission {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(img/chainlink2-yannik-wenk-267315.jpg);
  background-size: cover;
  background-attachment: fixed;
}


.section-mission p {
  text-align: justify;
  width:  35%;
  font-weight: 400;
  margin: 0 auto;
  line-height: 120%
}

/*---------------------------------------------*/
/*GET INVOLVED*/
/*---------------------------------------------*/

.section-get-involved {
  background-color: #3e3e3e;
}

.involved-box {
  color: black;
  font-weight: 300;
  background-color: #fffcf3;
  width: 90%;
  border: 3px solid #3e3e3e;
  border-radius: 5px;
  margin-left: 5%;
}

.involved-box:hover {
  border: 3px solid #c0392b;
  transition: border 0.2s
  
}

.involved-box div {
  padding: 15px;
  border-bottom: 2px solid #e3e3e3;
  text-align: center;
}

.involved-box div:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.involved-box div:last-child {
  border-bottom: none;
}

.action {
  font-size: 300%;
  text-align: center;
  display: inline-block;
}

.tagline {
  font-size: 80%
  
}

.involved-box ul {
  list-style: none;
  text-align: left;
  line-height: 150%
}

li i {
  margin-right: 5px;
}

.action-icon {
  display: inline-block;
  width: 25%;
  padding-right: 5%
  
}

.join {
  margin-bottom: -3%
}

.give {
  margin-bottom: -1%
}



/*---------------------------------------------*/
/*Footer*/
/*---------------------------------------------*/

footer {
  padding-top: 25px;
}

.bottom-nav {
  font-size: 65%;
  font-weight: 100
}

.bottom-nav ul {
  list-style: none;
}

.footer-contact-info {
  display: inline-block;
  float: right;
}

.footer-contact-info ul {
  list-style: none;
}