* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
  background-color: #222222;
  color: #fffaeb;
  text-rendering: optimizeLegibility;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

/* ---------------------------- */
/* -----REUSABLE ELEMENTS------ */
/* ---------------------------- */


h1 {
  font-weight: 400;
  font-size: 400%;
  text-shadow: 3px 5px #000000;
  line-height: 120%
}

a {
  text-decoration: none;
  color: #fffaeb;
}

section {
  padding: 100px;
}


/* ---------------------------- */
/* -----NAVBAR - DROPDOWN------ */
/* ---------------------------- */



#not-a-logo {
  margin-top: 1%;
  border: 3px solid #ffffff;
  width: 20%;
  margin-left: 1%;
}

.top-nav {
  float: right;
  text-transform: uppercase;
  margin-top: 5%
}



.droptitle {
  display: inline-block;
  position: relative;
  margin: 10px;
  border-bottom: 2px solid transparent;
  z-index: 2;

}


.dropdown-content {
  position: absolute;
  visibility: hidden;
  list-style: none;
  opacity: 0;
  z-index: 2;
}

.droptitle:hover .dropdown-content { 
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

.droptitle:hover {
  border-bottom: 2px solid red;
  transition: border-bottom 0.2s
}

.dropdown-content li {
  border-bottom: 2px solid #4e2323;
  margin-top: 5px;
}


.dropdown-content li:hover{
  border-bottom: 2px solid red;
  transition: border-bottom 0.2s;
}

.a-donate { border-bottom: 1px solid red;;}


/* ---------------------------- */
/* -----HEADER - HERO TEXT------ */
/* ---------------------------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.13)), url(img/graphic.png);
  background-size: cover;
  height: 100vh;
  position: relative;  
}

.bars-box {
  margin-left: 30%
}


.bars {
  height: 100vh;
  width: 10px;
  position: absolute;
  color: rgba(0, 0, 0, 0);
  border-right: 20px solid #222222;
  top: 0;
  z-index: 
}


.hero-text-box {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 8%;
  position: relative;
}

